
<div class="column is-one-fifth ">
    <div class="container mt-6">
            <img src="./static/assets/andthenlogo.png" alt="">
    </div>
    <!-- <div class="buttons is-centered">
        <button class="button is-primary is-small">
            <span class="icon">
                <i class="fab fa-facebook"></i>
            </span>
        </button>
        <button class="button is-primary is-small">
            <span class="icon">
                <i class="fab fa-instagram-square"></i>
            </span>
        </button>
        <button class="button is-primary is-small">
            <span class="icon">
                <i class="fab fa-twitter"></i>
            </span>
    </div> -->
</div>
