<%- include('./partials/header') %>
<div class="columns typewriter" style="height:100vh;">
    <div class="column is-one-third is-offset-one-third has-text-centered is-full-height">
        <div class="box has-text-centered" style="justify-self: center;">
            <%= error %>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>